body {
		width: 100%;
		background-color: #CDCDCD;
}

h1 {
		text-align: center;
}

p {
		text-align: center;
}

ul {
		list-style-type: none;
		display: flex;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
}

li {
		margin: 0 auto;
}

#grid-holder {
		background-color: #FFFFFF;
		overflow: hidden;
		width: 1024px;
		height: 1024px;
		margin: 0 auto;
}

.data-block {
		float: left;
		background-color: red;
		width: 32px;
		height: 32px;
		opacity: 1;
}

.red {
    color: red;
}

#base {
	display: none;
}

.size8 {
		width: 128px;
		height: 128px;
}

.size16 {
		width: 64px;
		height: 64px;
}

.size32 {
		width: 32px;
		height: 32px;
}

.size64 {
		width: 16px;
		height: 16px;
}

.newtext {
	color: red;
}