body {
		width: 100%;
		background-color: #DECECE;
}

h1 {
		text-align: center;
}

p {
		text-align: center;
}

ul {
		list-style-type: none;
		display: flex;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
}

li {
		margin: 0 auto;
}

#grid-holder {
		background-color: #FFFFFF;
		overflow: hidden;
		margin: 0 auto;
		height: 1024px;
		width: 1024px;
}

.data-block {
		float: left;
		background-color: black;
		opacity: 1;
		height: 32px;
		width: 32px;
}

.red {
    color: red;
}

#base {
	display: none;
}

.size8 {
		width: 128px;
		height: 128px;
}

.size16 {
		width: 64px;
		height: 64px;
}

.size32 {
		width: 32px;
		height: 32px;
}

.size64 {
		width: 16px;
		height: 16px;
}

.newtext {
	color: red;
}

.show-grid {
		width: 30px;
		height: 30px;
		border: 1px solid white;
}